<% layout("/layouts/boilerplate")%>

<img src="<%= restaurant.image %>" width="400">

<h2><%= restaurant.name %></h2>
<p><%= restaurant.description %></p>
<p> <%= restaurant.address %></p>
<p> <%= restaurant.cuisine %></p>
